/* @import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Itim&family=Michroma&display=swap'); */


  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


/* CSS for navbar - overwrite Bootstrap */

.navbar-css {
    background-color: rgb(212, 220, 221) !important;
    font-family: 'Exo', sans-serif;
}

.navbar-dark {
    margin-bottom: 10px !important;
}

.navbar-css a{
    color: #791212 !important;
    font-weight: 800;
}

.color{
    border-color: #791212 !important;
    color: #791212;
}

.fa-bars {
    color:#791212;
}

.navbar-toggler-css {
    background-color: #d1ae5bd2 !important;
    color: #791212 !important;
    justify-items: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-toggler-css a{
    color: #791212 !important;
}

/* Body Background */

body {
    background-color: #f6f6f6;
    overflow-x: hidden;
}

/* General Styling */

p, option  {
    color:#b36e08;
}

.navbar-toggler-css>a {
    color: #791212 !important;
}
.navbar-toggler-css>a:hover {
    text-decoration: none !important;
    transform: scale(1.08);
}

.titles-nodeco:hover{
    text-decoration: none;
}

#regions {
    height: 30em;
}


/* Index  */

#welcome{
    width: 80%;
    max-width: 70em;
    margin: 0;
    margin-left: auto;
}

#click{
    z-index: 4;
    position: absolute;
    top:30em;
    right: 20%;
    text-decoration: none;
    color: #791212;
}

.regions{
    height: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0;
    margin-left: auto;
}

.has-regions-in{
    min-height: 50em;
}

.d-flex{
    flex-wrap: wrap;
    align-content: center;
}

.align{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start
}

.here {
    border: #791212 3px solid;
    border-radius: 20px;
    margin-left: 0px;
    margin-left: auto;
    margin-bottom: 5em;
}

.regions-img{ 
    min-width: 150px;
    max-width: 100%;
    display: block;
} 

.circle-container{
    min-width: 200px;
    position:relative;
    max-width: 10em;
    margin-inline: auto;
    aspect-ratio: 1/1.2;
    display: flex;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    display: flex;
    transition: transform 500ms ease-in-out;
}
.circle-container:hover{
    transform: scale(1.1);
}

.circle-background{
    position: absolute;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.circle-traveler{
    width: 70%;
    position: relative;
    top: 80px;
    left: 70px;
    aspect-ratio: 1/1;
    z-index: 2;
    transform: scale(1.2);
}
.circle-container:hover .circle-traveler{
    transform: scale(1.5);  
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title:hover{
    transition: display(block);

    color:rgb(20, 21, 22);
}

.regions-anchor {
    text-decoration: none;
    color:#791212;
    font-family: 'Raleway', sans-serif;;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    color:#791212;
    font-family: 'Raleway', sans-serif;
}

/* Region page */

.display-card {
    padding: 20px;
    border: #dbd8d4 outset 2px;
    background-color: #dbd8d370;
    border-radius: 5px;
    width: 20em;
    height: 24em;
    display: flex;
    margin: 0;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
}

.display-card:hover{
    transform: scale(1.02);
}
.display-card>a{
    text-decoration: none;
    color:#b36e08;

}
.display-card>h4{
    font-weight: 600;
}

.display-card>*{
    font-family: 'Raleway', sans-serif;
    color:#b36e08;
}

#img-cont {
    height: 70%;
}

.display-card>img{
    object-fit: cover;
}
.post-link:hover{
    color:#b36e08;
    text-decoration: none;
}

.display-region{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 10px;                
}

.info-div{
    height: fit-content;
}

/* Footer  */

.footer {
    background-color: rgb(212, 220, 221);
    width: 100%;
    /* margin: 0; */
    /* margin-top: 10px; */
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0px;
    position: fixed;
    z-index: 5;
}

.fa-brands {
    color:#141313;
}

.alert-css{
    position: absolute;
    z-index: 1000;
}


/*  */

.detail-css{
    width: 90%;
    margin: 0;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: #dbd8d4 outset 2px;
    background-color: #dbd8d370;
    border-radius: 5px;
}
/* SEARCH */

#top-button{
    bottom: 7%;
    right: 2%!important;
    z-index: 100;
    position:fixed !important;
    color: #791212 !important;
    }

/* ADMIN SITE */
.admin-site-content {
    margin-top: 10%;
    margin-left: 20px;;
}


@media screen and (min-width: 1950px){
    body {
        width: 80%;
        margin-left: 0px;
        margin: auto;
    }    
}

/* FORMS FORMAT */

.forms-format {
        width: 90%;
        margin-left: 0;
        margin:auto;
        margin-top: 15px;
}

@media (min-width: 576px){
.modal-dialog { 
    width: 100% !important;
    margin-left: 0px;
    margin: auto;
}
}

@media (max-width: 767px){

#region-text {
    display: none;
}

.admin-site-content {

flex-direction: column;

}
.profile-div-display {
    flex-direction: row;
   
}
}

@media (min-width: 600px){

.profile-div-display-col {
display: none;   
}
.profile-div-display-col {
display: inline;
}
}