/* CSS for navbar - overwrite Bootstrap */

.navbar-css {
    background-color: #83240d !important;
}

.navbar-dark {
    margin-bottom: 10px !important;
}

.navbar-css a{
    color: #5c777a !important;
    font-weight: 800;
}

.navbar-toggler-css {
    background-color: #cca64d !important;
    color: #83240d !important;
    justify-items: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-toggler-css a{
    color: #560804 !important;
}

/* Body Background */

body {
    background-color: #e4d1a3;
    overflow-x: hidden;
}

/* General Styling */

.a-css {
    font-size: 20px;
    color: #5c777a;
}

.a-css:hover {
    color:rgb(104, 10, 10) !important;
    font-weight: 900 !important;
}

.a-css:visited {
    color: #b36e08;
}

#regions {
    height: 30em;
}

.carrousel-section{
    margin-top: 10px;
}

#carouselExampleCaptions {
    min-width: 180px;
    max-width: 750px;
    height: 70%;
    margin: auto;
}

#carrousel-item {
    width: 90%;
    height: 80%;
    max-height: 10em;
}


img{ 
    max-width: 100%;
    display: block;
}

.regions{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.circle-container{
    min-width: 200px;
    position:relative;
    max-width: 10em;
    margin-inline: auto;
    aspect-ratio: 1/1.2;
    display: flex;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    display: flex;
    transition: transform 500ms ease-in-out;
}
.circle-container:hover{
    transform: scale(1.1);
}

.circle-background{
    position: absolute;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.circle-traveler{
    width: 70%;
    position: relative;
    top: 80px;
    left: 70px;
    aspect-ratio: 1/1;
    z-index: 2;
    transform: scale(1.2);
}
.circle-container:hover .circle-traveler{
    transform: scale(1.5);  
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title:hover{
    transition: display(block);
    color:rgb(20, 21, 22);
}


/* Footer  */

.blockquote-footer {
    background-color: #a4acac;
    margin:0;
    height: 2em;
}
