{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-around">
    <div class="col">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <a href="/coast">Coast</a>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <a href="/andes">Andes</a>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <a href="/jungle">Jungle</a>
        </div>
    </div>
</div>

{% endblock %}