{% extends "base.html" %}

{% block content %}


<div class="regions">
    <div class="container col">
        <div class="circle-container">
    
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673887920/Pngtree_summer_travel_traveler_backpack_3939252_rnwmod.png" class="circle-traveler" alt="traveler">
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673889320/IMG_20200130_094307869_g4ylil.jpg" class="circle-background" alt="background">
        
        </div>
        <div class="title">
            <h2><a href="coast">Coast</a></h2>
        </div>
    
    </div>
    
    <div class="container col">
        <div class="circle-container">
    
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673887920/Pngtree_summer_travel_traveler_backpack_3939252_rnwmod.png" class="circle-traveler" alt="traveler">
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673889277/DSC00687_ihmzee.jpg" class="circle-background" alt="background">
        
        </div>
        <div class="title">
            <h2><a href="andes">The Andes</a></h2>
        </div>
    
    </div>
    
    <div class="container col">
        <div class="circle-container">
    
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673887920/Pngtree_summer_travel_traveler_backpack_3939252_rnwmod.png" class="circle-traveler" alt="traveler">
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1673889287/P1030567_rkt5fr.jpg" class="circle-background" alt="background">
        
        </div>
        <div class="title">
            <h2><a href="jungle">Jungle</a></h2>
        </div>
    
    </div>
    
    </div>

{% endblock %}