{% extends "base.html" %} {% block content %} <section class="introduction">
  <div style="margin-top: 1em">
    <div style="text-align:center">
      <a href="#regions">
        <img id="welcome" src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1677423989/desktop_PER%C3%BA_1_mfikag.webp" alt="image">
      </a>
    </div>
  </div>
</section>
<section id="regions" style="margin-bottom: 8em;">
  <div class="container d-flex justify-content-around has-regions-in">
    <div class="col">
      <div class="row">
        <div style="text-align:center"> <h2 id="region-title">What region do you want to look at?</h2>
        </div>
      </div>
      <div class="row here">
        <div class="container col">
          <a href="{% url 'coast_places_display' %}">
            <div class="circle-container">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675257557/PP4/grid_landscape_ocbe8t.png" class="circle-traveler regions-img" alt="traveler">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675257545/PP4/grid_landscape_sgtmgs.jpg" class="circle-background regions-img" alt="background">
            </div>
          </a>
          <div style="text-align:center">
            <br>
            <h2 class="regions-anchor">Coast</h2>
          </div>
        </div>
        <div class="container col">
          <a href="{% url 'andes_places_display' %}">
            <div class="circle-container">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675257557/PP4/grid_landscape_ocbe8t.png" class="circle-traveler regions-img" alt="traveler">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675257551/PP4/grid_landscape_cj6eyf.jpg" class="circle-background regions-img" alt="background">
            </div>
          </a>
          <div style="text-align:center">
            <br>
            <h2 class="regions-anchor">The Andes</h2>
          </div>
        </div>
        <div class="container col">
          <a href="{% url 'jungle_places_display' %}">
            <div class="circle-container">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675257557/PP4/grid_landscape_ocbe8t.png" class="circle-traveler regions-img" alt="traveler">
              <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1677423540/PP4/ziztwm49xruxpteripn7_1_m8hn4q.webp" class="circle-background regions-img" alt="background">
            </div>
          </a>
          <div style="text-align:center">
            <br>
            <h2 class="regions-anchor">Jungle</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {% endblock %}