{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div>
    <h2> PLACE INFORMATION</h2>

    <img src="{{ context.place_image_src.url }}">
    <br>

    {{ context.place }}

    {{ context.info }}
</div>

<div class="row">

    <div class="col">
        {% for comment in context.comments.all %}
        <p>{{ comment }}</p>

     
        {% endfor %}

    </div>

<div class="modal">
    <div class="comment_section col">

        {% if commented %}

        <div class="alert alert-success" role="alert">
            You had post a comment!
        </div>

        {% else %}
        {% if user.is_authenticated %}

        <p> posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">

            {{ comment_form | crispy }}

            {% csrf_token %}

            <button type="submit" class="btn btn-success">Submit</button>
            
    </div>
    </form>
    {% else %}
    <br>
    <p><strong>Register with us so you can see and add comments</strong></p>

</div>

</div>
{% endif %}
{% endif %}
{% endblock %}