{% extends "base.html" %}

{% block content %}

<center>
    <h1> REGION COAST </h1>

    <div class="row">
    <div class="col"><a href="{% url 'arqueologic_coast_places_display' %}" class="a-css">Arqueologic</a></div>
    <div class="col"><a href="{% url 'beach_coast_places_display' %}" class="a-css">Beach</a></div>
    <div class="col"><a href="{% url 'nature_coast_places_display' %}" class="a-css">Nature</a></div>
    </div>
    <br/>
</center>
    
<div class="row">
    {% for place in context %}
    <div class="col-6 text-center">
        <img src=" {{ place.image.url }} " class="w-75 rounded">
        
        <a href="{% url 'place_information' name.slug %}" class="post-link">
            <h2 class="card-title">{{ place.name }}</h2>
        </a>
        
        <p>info: {{ place.info|truncatewords:10 }}</p>
        <p>place: {{ place.altitude }}</p>
        <p>place: {{ place.region }}</p>
        <p>place: {{ place.type_location }}</p>

        
            {{ place.comments.count}} Comments

        
    </div>
    {% endfor %}
</div>
{% endblock %}