{% extends "base.html" %}
{% block search %} {% include 'search_bar.html' %}{% endblock search %}

{% block content %}

<center>
    <a href="{% url 'andes_places_display' %}">
        <h1>THE ANDES</h1>
    </a>
    <br/>
</center>
<center>
    <section class="display-region d-flex">

        {% for place in object_list %}
        <div class="text-center display-card">
            <a href="{% url 'place_information' place.slug %}" class="post-link">
            
            <div class="container d-flex">
                <div class="col">
                    <div class="row align">
                        <img src=" {{ place.image.url }} " class="rounded">
                    </div>
                    <div class="row">
                        <h3 class="card-title">{{ place.name }}</h3>
                        
                        <div class="row ">
                            <div class="col justify-content-start d-flex">
                                <p>{{ place.info|truncatewords:5 }}...</p>
                            </div>
                            <div class="col justify-content-end d-flex">
                                <span><i class="bi bi-chat-left-text"></i> {{ place.comments.count}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div></a>
    
        </div>
        {% endfor %}
        {% block paginator %} {% include 'paginator.html' %}{% endblock paginator %}

    </section>

{% endblock %}