{% extends "base.html" %}

{% block content %}

<center>
    <a href="{% url 'coast_places_display' %}">
        <h1> REGION COAST </h1>
    </a>
    <br>
    <div class="row">
        <div class="col"><a href="{% url 'arqueologic_coast_places_display' %}" class="a-css">Arqueologic</a></div>
        <div class="col"><a href="{% url 'beach_coast_places_display' %}" class="a-css">Beach</a></div>
        <div class="col"><a href="{% url 'nature_coast_places_display' %}" class="a-css">Nature</a></div>
    </div>
    <hr />
</center>
<section class="display-region d-flex">

    {% for place in context %}
    <div class="text-center display-card">
        <a href="{% url 'place_information' place.slug %}" class="post-link">
        
        <div class="container d-flex">
            <div class="col">
                <div class="row align">
                    <img src=" {{ place.image.url }} " class="rounded">
                </div>
                <div class="row">
                    <h3 class="card-title">{{ place.name }}</h3>
                    
                    <div class="row ">
                        <div class="col justify-content-start d-flex">
                            <p>info: {{ place.info|truncatewords:10 }}</p>
                        </div>
                        <div class="col justify-content-end d-flex">
                            <span><i class="bi bi-chat-left-text"></i> {{ place.comments.count}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div></a>

    </div>
    {% endfor %}
</section>

{% endblock %}