{% extends "base.html" %}

{% block content %}

<center>
    <h1> REGION JUNGLE </h1>
    <br/>
    <div class="row">
    <div class="col"><a href="{% url 'arqueologic_jungle_places_display' %}">Arqueologic</a></h2></div>
    <div class="col"><a href="{% url 'nature_jungle_places_display' %}">Nature</a></h2></div>
    </div>
    <br/>
</center>

    {% for place in context %}
    <div class="col-6 text-center">
        <img src=" {{ place.image.url }} " class="w-75 rounded">
        
        <a href="{% url 'place_information' place.slug %}" class="post-link">
            <h2 class="card-title">{{ place.name }}</h2>
        </a>
        
        <p>info: {{ place.info|truncatewords:10 }}</p>
        <p>place: {{ place.altitude }}</p>
        <p>place: {{ place.region }}</p>
        <p>place: {{ place.type_location }}</p>

        
        <span><i class="bi bi-chat-left-text"></i> {{ place.comments.count}} </span>

        
    </div>
    {% endfor %}

{% endblock %}