{% extends "base.html" %} {% block content %} <div class="d-flex flex-row bd-highlight align-items-center" style="margin:0px; margin-top: 8px; margin-left: 8px;">
    <div class="p-2 bd-highlight">
        <a href="javascript:history.go(-1)">
            <h4>
                <i class="bi bi-arrow-left-square"></i>
            </h4>
        </a>
    </div>
    <div class="p-2 bd-highlight">
        <h6>Previous</h6>
    </div>
</div>
<div class="align-items-center" style="height: 5em;text-align:center; margin-bottom: 15px; background-image: url(https://res.cloudinary.com/dwjq6izv5/image/upload/v1676899521/coast_textile_zrxpou.webp);">
    <a href="{% url 'coast_places_display' %}" class="titles-nodeco">
        <h1 class="titles-nodeco" style="color:#faf9f8e0">COAST</h1>
        <h6 id="region-text" style="color:#f3ede8e0; font-weight: 600;">The Coast region has a coastline of 3,080 km (1,910 mi), and it is located along the Pacific Ocean. </h6>
    </a>
</div>
<div class="d-flex justify-content-end"> {% block paginator1 %} {% include 'paginator.html' %}{% endblock paginator1 %} </div>
<section class="display-region d-flex flex-col"> {% for place in object_list %} <div class="card display-card">
        <a href="{% url 'place_information' place.slug %}" class="post-link">
            <div class="d-flex justify-content-end pin-css"> {% if user.is_authenticated %} {% if request.user in place.interests.all %} <i class="bi bi-pin-angle-fill"></i> {% else %} <i class="bi bi-pin-angle"></i> {% endif %} {% endif %} </div>
            <div class="image-container" style=" min-width: 13em; max-height: 50%; "> {% if "placeholder" in place.image.url %} <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1675697614/PP1/desktop_PER%C3%BA_p0clvq.png" class="card-img-top" alt="image" style="object-fit: scale-down;"> {% else %} <img src="{{ place.image.url }}" class="card-img-top" style="object-fit: scale-down;" alt="image"> {% endif %} </div>
            <div class="card-body">
                <h4 class="card-title text-center">{{ place.name }}
                </h4>
            </div>
            <div>
                <i class="bi bi-chat-left-text comment-icon"> {{ place.comments.count}}</i>
            </div>
        </a>
    </div> {% endfor %} </section>
<div class="d-flex justify-content-end" style="margin-bottom: 4em;"> {% block paginator %} {% include 'paginator.html' %}{% endblock paginator %} </div> {% endblock %}