{% extends "base.html" %}
{% block search %} {% include 'search_bar.html' %}{% endblock search %}
{% block content %}
<div class="d-flex flex-row bd-highlight align-items-center" style="margin:0px; margin-top: 8px; margin-left: 8px;">
  <div class="p-2 bd-highlight">
    <a href="javascript:history.go(-1)">
      <h4><i class="bi bi-arrow-left-square"></i></h4>
    </a>
  </div>
  <div class="p-2 bd-highlight">
    <h6>Previous</h6>
  </div>
</div>
<center>
  <h2 style="margin:5px;"> OUR COMMUNITY </h2>
</center>
{% if searched  %}
<h5>You searched for ... {{ searched }} {{ location }}</h5>
{% endif %}

{% if search_result %}
<div class="row">
  {% for place in search_result %}
  <div class="card display-card">
    <a href="{% url 'place_information' place.slug %}" class="post-link">
      <div class="d-flex justify-content-end">{% if user.is_authenticated %}
        {% if request.user in place.interests.all %}
        <i class="bi bi-pin-angle-fill"></i>
        {% else %}
        <i class="bi bi-pin-angle"></i>
        {% endif %}
        {% endif %}
      </div>
      <div class="d-flex justify-content-center">
        <img src="{{ place.image.url }}" class="card-img-top" alt="..."
          style="width: 80%; height: 70%; object-fit: contain;">
      </div>
      <div class="card-body">
        <h4 class="card-title text-center">{{ place.name }}</h5>
          <p class="card-text">{{ place.info|truncatewords:10|safe }}</p>
      </div>
      <div><i class="bi bi-chat-left-text d-flex justify-content-end align-items-center"> {{ place.comments.count}}</i>
      </div>
    </a>
  </div>

  {% endfor %}
</div>

</div>

{% else %}

<h5>There is nothing to display.</h5>
{% endif %}

<a href="#top" id="top-button" class="btn btn-outline-danger color" style="border: none !important;">
  <h3><i class="bi bi-box-arrow-in-up"></i></h3>
</a>
<div style="height: 3em;"></div>
{% endblock %}